.container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}

.nav-pics {
  margin-top: 10px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.nav-pics:hover {
  background-color: #66002d;
  box-shadow: 5px 5px 5px 5px #66002d;
}
