/be/.venv
/be/backend/backend/__pycache__
/be/backend/arvanthea/__pycache__
/be/backend/db.sqlite3
/fe/package-lock.json
/fe/package.json
/fe/node_modules
/be/backend/arvanthea/migrations/__pycache__
be/backend/arvanthea/migrations/__pycache__/0001_initial.cpython-310.pyc
be/backend/arvanthea/migrations/__pycache__/__init__.cpython-310.pyc
