.container {
  padding: 0px;
  margin: 0px;
}

.mb-3 {
  margin: 0rem !important;
}

.Dropdown-root {
  width: 86%;
  height: 40.03px;
  margin-left: 50px;
  margin-bottom: 14.82px;
  border-radius: 8px;
}

.Dropdown-control {
  height: 40.03px;
  border-radius: 8px !important;
  padding: 7px 52px 8px 10px !important;
}

.Dropdown-option {
  border-bottom: 1px black solid;
}

.myArrowClassName {
  margin-top: 4px;
}

.mb-3 input:active {
  border: none;
}

.number-container {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  border: 1px solid #ced4da;
  margin-left: 50px;
  height: 40.03px;
  width: 86%;
  border-radius: 8px !important;
}

.react-datepicker__input-container input {
  padding: 0.375rem 0.75rem;
  width: initial;
  font-size: 18px;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  margin-left: 50px;
}

.react-datepicker-wrapper input {
  font-size: 18px;
  width: 86%;
}

.Grid-grid-0-2-1 {
  padding: 0px !important;
}

.second-form-controller {
  width: 86%;
}

.radio-container {
  margin-right: 20px;
}

.radio-selection {
  margin-right: 30px;
}

.radio-group {
  margin-left: 50px;
}
