.pos {
  margin-top: 3%;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.deliver-pos {
  justify-content: center;
  align-items: center;
  display: flex;
}

.deliver-box {
  width: 100%;
  height: 45px;
  background-color: #dcdcdc;
}

.text-pos {
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.text {
  padding-top: 10px;
  margin-left: 10px;
}

.pic-pos {
  margin: 20px 0;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: center;
}

.login {
  display: flex;
  justify-content: space-evenly;
}
