.page-container {
  height: 100vh;
  background-image: url(/public/images/ProfileBg.png);
  background-size: cover;
  width: 100%;
}

.box {
  top: 15%;
  width: 50%;
  height: 90%;
  background: #f7f2ee;
  position: absolute;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-bottom: 5%;
}

.box-size {
  width: 100%;
}

.box-container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.profile-image {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 5%;
}
.img {
  width: 13%;
}

.name-pos {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3%;
}

.profile-name {
  font-weight: bold;
  font-size: 30px;
}

.btn-pos {
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-btn {
  text-decoration: none;
}

.edit-btn {
  color: #000;
  font-size: 15px;
}

.link-btn:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

.form-pos {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 1%;
}

.col {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
}

.col-title {
  text-align: start;
}

.row {
  width: 70%;
}

.form-container {
  background: #ededed;
  border: 1px solid #dddddd;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 100%;
}

.form-text {
  padding-left: 3%;
  padding-top: 5px;
}

.btn-posb {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 3%;
}

.btn-size {
  width: 10%;
  margin-left: 1%;
  margin-right: 1%;
}
