.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #c187a1;
}

.nav-link {
  display: block;

  color: #000;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
