.box {
  margin-top: 10px;
  background-color: #d9d9d9;
  width: 100%;
  height: 100%;
}

.price {
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  padding-top: 20px;
}

.choose {
  text-align: center;
  font-weight: 400;
}

.food-link {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: #000;
}

.paragraph {
  font-weight: 400;
}

.dessert {
  font-size: 15px;
  color: #000;
}

.button-container {
  justify-content: center;
  text-align: center;
}
.button {
  border: none;
  color: #fff;
  background-color: #7a2f50;
  width: 20%;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button:hover {
  cursor: pointer;
  background-color: #000;
}
