.container {
  background-color: #7a2f50;
  position: fixed;
  bottom: 0;
  height: 15vh;
  width: 100%;
}

.bottom-nav-size {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
}

.link {
  text-decoration: none;
}

.bottom-nav {
  color: #fff;
  font-size: 0.7em;
}
